.hero {
    padding: 120px 0px 129px 0;
    background-image: url("../../assets/svg/hero-img.svg");
    background-repeat: no-repeat;
   background-position-x:90%;
    h1 {
        width: 391px;
        color: #FBFAF7;
        font-family: Recoleta;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 65.25px;
    }

    p {
        margin-top: 18px;
        color: #FBFAF7;
        font-family: Noto Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        width: 475px;
    }
}